service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{message} {
      allow read, write, delete: if request.auth.uid != null;
    }
    match /users/{id} {
    	allow read, write: if request.auth.uid != null; 
      allow update: if request.auth.uid == resource.data.id;
      allow delete: if false;
    }
    match /rooms/{owner} {
    	allow read, write: if request.auth.uid != null; 
      allow update, delete: if request.auth.uid == resource.data.owner;
    }
    match /rolls/{id} {
    	allow read, write: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == resource.data.id;
    }
  }
}